h1{
    color: rgb(51, 12, 223);
    text-align: center;
    font-size: 3.6 rem;

  }
  #title{
    background-color: rgb(39, 203, 209);
    padding: 40px;
    align-content: center;
    
  }
  #img-div{
     display: grid;
     grid-column: auto;
     align-;
     align-items: center;
     justify-content: center;
        border-radius: 50%;
        justify-items: center
    }

    #image{
        border-radius: 50%;
        width: 30%;
        
        align-items: center;
        max-width: 100%;
        
    }

    #tribute-link{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #img-caption{
        position: relative;
        display: flex;
        align-self: flex-end;
        padding: 50px;
        
    }